# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Node modules (for React later)
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db